menu "Meson3 platform type"
	depends on ARCH_MESON3

config MACH_MESON3_REFF01
	select GENERIC_ALLOCATOR
	bool "Support M3 (M3_SKT_V1) platform"
	help
	  Include support for the AMLOGIC M3 Socket Emulation Baseboard platform.

config MACH_MESON3_REFF02
	select GENERIC_ALLOCATOR
	bool "Support M3 (WA) platform"
	help
	  Include support for the WA M3 board platform.
	  
config MACH_MESON3_REFF04
	select GENERIC_ALLOCATOR
	bool "Support M3 (Ramos) platform"
	help
	  Include support for the Ramos M3 board platform.

config MACH_MESON3_REFF05
	select GENERIC_ALLOCATOR
	bool "Support M3 (SOCKET) platform"
	help
	  Include support for the AML M3 socket board platform.
	    
config MESON3_CLOCK_TICK_RATE
    int "Clock Tick Rate"
	default 25000000

config AML_SUSPEND
		bool "Support M3 A9 domain power down"
		depends on SUSPEND
		default n
		
endmenu
