#
# Input core configuration
#



config KEYPADS_APOLLO
	tristate "Amlogic ir remote  keypads support"
	depends on (AMLOGIC_BOARD)
	default n
	help
	  Say Y here if you want to use the amlogic remote keypad.

	  To compile this driver as a module, choose M here: the
	  module will be called .
config  KEYPADS_APOLLO_DEBUG
	bool "keypas apollo debug mode "
	depends on (KEYPADS_APOLLO)
	default  n 
	help
		say y if you want print debug info of this module .
config   KEYPADS_APOLLO_REPEAT_ENABLE
	bool "keypads repeate enable"
	depends on (KEYPADS_APOLLO)
	default n
	help
		say y if you want enable repeat key.
choice
        prompt "apollo kpads output mode"
        depends on (KEYPADS_APOLLO)
        default  KEYPADS_APOLLO_REPORT_VKCODE

config KEYPADS_APOLLO_REPORT_SCANCODE
       bool	"scancode"
	 help
         this is a choice for report scancode

config  KEYPADS_APOLLO_REPORT_VKCODE
        bool "VK code"
        help
          this is a choice for report VKcode 

endchoice

choice
	prompt "keypads apollo decoder type"
	depends on (KEYPADS_APOLLO)
	default  KEYPADS_APOLLO_DECODER_HW
	
config   KEYPADS_APOLLO_DECODER_HW
	 bool "hardware"
	 help
	 	use hardware decoder
	 	
config   KEYPADS_APOLLO_DECODER_SW
	 bool "software"
	 help
	 	use software decoder	 	

endchoice

choice 
	prompt "apollo kpads manufacture for SW mode"
      depends on (KEYPADS_APOLLO_DECODER_SW)
      default  KEYPADS_APOLLO_DECODER_SW_SKYWORTH
      
config   KEYPADS_APOLLO_DECODER_SW_SKYWORTH
	bool "SKY WORTH"

config   KEYPADS_APOLLO_DECODER_SW_NEC
	bool "NEC"

endchoice
