#
# Video output configuration
#
menu "Amlogic video output module"

config AM_TV_OUTPUT
	tristate "TV output"
	default y
	help  
		tv output module
		
config AM_TCON_OUTPUT
	tristate "LCD output" 
	help  
		LCD output module

config AML_TCON_T13
	tristate "T13 panel driver"
	depends on  AM_TCON_OUTPUT
	help  
		T13 LCD panel module

config AML_TCON_ML10
	tristate "ML10 panel driver"
	depends on  AM_TCON_OUTPUT
	help  
		ML10 LCD panel module

config AML_TCON_W10
	tristate "W10 panel driver"
	depends on  AM_TCON_OUTPUT
	help  
		W10 LCD panel module

config AML_TCON_W7
	tristate "W7 panel driver"
	depends on  AM_TCON_OUTPUT
	help  
		W7 LCD panel module

config AML_TCON_K7
	tristate "K7 panel driver"
	depends on  AM_TCON_OUTPUT
	help  
		K7 LCD panel module
config AML_TCON_C7
	tristate "C7 panel driver"
	depends on  AM_TCON_OUTPUT
	help  
		C7 LCD panel module	
endmenu
	