
menu "Amlogic HDMI Support"


config AML_APOLLO_HDMI
        tristate "HDMI output enable"
        default y
        depends on  FB_AML_APOLLO && I2C
        help  
                hdmi output enable,It should be enalbe if board have hdmi out interface

endmenu
