#
# AMLOGIC PMU DEVICE configuration
#

menu "Amlogic PMU Support"

config AMLOGIC_PMU_ENABLE
	tristate "AMLOGIC PMU Driver ENABLE"
	default n
	help
		AMLOGIC PMU Driver ENABLE(ACT8942...)

config PMU_ACT8942
	tristate "PMU ACT8942 Driver"
	default n
	depends on AMLOGIC_PMU_ENABLE
	help
		PMU_ACT8942 support

endmenu
