#
# CMEM device configuration
#

menu "AMLOGIC Physical memory allocator"

config CMEM
    tristate "CMEM Physical memory allocator"
	help
	  Select to enable CMEM physical memory allocator driver.
endmenu
