#
# AMLOGIC CAMERA DEVICE configuration
#

menu "Amlogic CAMERA Support"

config CAMERA_OV2655
	tristate "CAMERA OV2655 Driver"
	default n
	help
		.MICRON 0.3M Bayer Sensor with AutoFocus
		
config CAMERA_OV2665
	tristate "CAMERA OV2665 Driver"
	default n
	help
		.MICRON 2M Bayer Sensor with AutoFocus
		
config CAMERA_OV5640
	tristate "CAMERA OV5640 Driver"
	default n
	help
		MICRON 5M Bayer Sensor with AutoFocus
endmenu
