#
# Input device configuration
#

menu "Amlogic Input device support"

source "drivers/amlogic/input/irremote/Kconfig"

source "drivers/amlogic/input/adc_keypad/Kconfig"

source "drivers/amlogic/input/key_input/Kconfig"

endmenu

